.site-container {
    margin: auto;
    max-width: 70%;
}

.flex {
    display: flex;
}

@media (max-width: 1024px) {

    .site-container {
        max-width: 80%;
    }

}

@media (max-width: 768px) {
  .site-container {
    max-width: 90%;
  }
}